<h3>BlazorSodiumComponent</h3>

<h4>Random</h4>
<div>
   <input type="text" style="width:500px;" @bind="SaltString" />
   <button type="submit" @onclick="GenerateRandomSalt">Generate a random value</button>
</div>

<h4>Public key signature</h4>
<div>
   <button type="submit" @onclick="GeneratePublicKeySignatureKeyPair">Create a Public Key Signature key pair</button>

   <label>Public key</label>
   <input type="text" style="width:500px;" @bind="PublicKey" />

   <label>Private key</label>
   <input type="text" style="width:500px;" @bind="PrivateKey" />
</div>

<h4>SecretStream Key</h4>
<div>
   <input type="text" style="width:500px;" @bind="SecretStreamKey" />
   <button type="submit" @onclick="GenerateSecretStreamKey">Generate a secret key</button>

   <br />

   <label>Provide some plaintext (spaces count as chunk separators)</label>
   <input type="text" style="width:500px;" @bind="SecretStreamPlaintext" />
   <button type="submit" @onclick="EncryptSecretStream">Encrypt/Decrypt</button>

   <br />

   <label>Encrypted</label>
   <input type="text" style="width:500px;" @bind="HexCiphertext" />

   <br />

   <label>Decrypted</label>
   <input type="text" style="width:500px;" @bind="DecryptedText" />
</div>
