<h3>BlazorSodiumComponent</h3>

<p>Argon Salt:</p>
<input type="text" style="width:500px;" @bind="SaltString" />
<button type="submit" @onclick="GenerateRandomSalt">Click me to generate a random salt</button>

<p>Plaintext password</p>
<input type="text" @bind="Password" />
<button type="submit" @onclick="GeneratePasswordHash">Click me to hash the provided password</button>

<p>Argon hashed password</p>
<input type="text" style="width:500px;" @bind="HashedPassword" />
