<h3>BlazorSodiumComponent</h3>

@code {
   [Inject]
   IBlazorSodiumService BlazorSodiumService { get; set; }

   protected override async Task OnInitializedAsync()
   {
      await BlazorSodiumService.PasswordHashAsync();
   }
}
